<div class="container-fluid">
  <div class="row post">
    <div class="title">
      <h5>{{post.title}}</h5>
      <h6>Posted by {{post.user.name}} on {{format_date post.date_created}}</h6>
    </div>
    <div>
      <p>{{post.content}}</p>
    </div>
  </div>
  <div class="row post">
    <div class="title">
      <h5>Comments</h5>
    </div>
    <div>
      {{#each comments as |comment|}}
      <p>{{comment.content}}</p>
      {{/each}}
    </div>
  </div>
  <div class="row comment">
    <form class="comment-form">
      <div>
        <label for="comment">Comment</label>
      </div>
      <div>
        <textarea name="comment" id="comment" data-id="{{post.id}}" data-name="{{user_name}}"></textarea>
      </div>
      <div>  
        <button type="submit" id="submit-btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>